/* You can add global styles to this file, and also import other style files */
*{
    font-family:fantasy;
  }
  body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(231, 225, 218);
    background-image: url(assets/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }